<%- set_title 'Manage Navigation Links' -%>

<%- if @nav_items.empty? -%>
  <p><em>No navigation has been created yet.</em></p>
<%- else -%>
  <%= render 'index' -%>
<%- end -%>

<%= link_to 'New Navigation Link', new_admin_site_nav_item_path(@site), :class => 'button' -%>
<%= link_to 'Back to Site', admin_site_path(@site), :class => :button -%>