/* 
	--------------------------------
	COLOR SCHEME
	--------------------------------
		purple: 			#7e7587
		red: 				#793441
		yellow: 			#827e38
		green: 				#6b7c35
		grey borders: 		#cccccc
		grey backgrounds: 	#eeeeee
	--------------------------------

	--------------------------------
	CHART COLORS
	--------------------------------
		blue:				#324F69
		green:				#919E4B
		red:				#A34D4D
		tan:				#BEC8BE
	--------------------------------

*/

/* @group General Typography */

	html {
		height: 100%;
	}
	
	a:visited {
  		color: #999999;
	}
	
	body {
		position: relative;
		width: 100%;
		height: 100%;
		min-width: 1030px;
		font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
		background: #ffffff url(/images/layout/content_left_bg.png) repeat-y;
	}

	.bold {
		font-weight: bold;
	}
	
	h1 {
		color: #333333;
		margin-top: -15px;
		padding-bottom: 1em;
		width: 75%;
		border-bottom: 1px dotted #cccccc;
		font-size: 1.2em;
	}
	
	h2 {
		background: url(../images/layout/h2_bg.png) no-repeat 0 8px;
		border: none;
		margin: none;
		margin-left: -12px;
		color: #ffffff;
		padding: 0em;
		padding-left: 2em;
		padding-top: 18px;
		padding-bottom: 0em;
		width: 290px;
		height: 26px;
		font-weight: bold;
		font-size: 1.1em;
		text-transform: uppercase;
		text-shadow: #999999 0 0 3px;
	}
	
	h2.for_table {
		position: relative;
		margin-top: 0em;
		margin-bottom: -25px;
		z-index: 1000;
		padding-top: 21px;
		height: 40px;
		background-image: url(../images/layout/h2_bg_for_table.png);
	}
	
	ul.bulleted {
		list-style-type: disc;
		margin-left: 1.5em;
	}
	
	ul.no_bullets {
		list-style-type: none;
	}
	
	.subtle {
		color: #999999;
	}
	
	.subtle a:link, .subtle a:visited {
		text-decoration: none;
		color: #999999;
	}
	
	.subtle a:hover {
		color: #756b7f;
		/*text-decoration: underline;*/
	}

/* @end */

/* @group Layout Tricks */

	div#container {
		min-height: 100%;
		position: relative;
		background: url(/images/layout/content_right_bg.png) repeat-y right 0;
}

/* @end */


/* @group Header */

	div#header {
		margin-top: 0em;
		background: none;
		background-color: #000000;
		height: 10px;
		background: url(/images/layout/black_bar.png) repeat-x top;
		width: 100%;
		border: none;
	}
	
	div#page_header {
		padding-top: 63px;
		padding-left: 45px;
	}
	
	div#branding {
		position: absolute;
		top: 0px;
		right: 15px;
		margin: 0em;
		padding: 0em;
		background: url(/images/layout/branding.png) no-repeat;
		height: 90px;
		width: 344px;
	}

/* @end */

/* @group Navbar */

	div#navigation {
		font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
		position: absolute;
		top: -9px;
		width: auto;
		margin-top: 0em;
		margin-left: 35px;
		margin-right: auto;
		background: none;
		border: none;
	}
	
	div#navigation ul li {
		background: none;
		border: none;
	}
	
	div#navigation ul li:hover {
		background: none !important;
		color: #ffffff;
	}
	
	div#navigation ul li:hover a:link {
		background: none !important;
	}
	
	div#navigation ul li a:link {
		color: #aaaaaa;
		text-decoration: none;
	}
	
	div#navigation ul li a:hover {
		color: #ffffff !important;
		background: none;
	}
	
	div#navigation ul li a:visited {
		color: #aaaaaa;
		text-decoration: none;
	}

/* @end */

/* @group Breadcrumbs */

	div#breadcrumbs {
		display: block;
		margin-top: .5em;
		margin-bottom: 30px;
		font-size: .8em;
		color: #aaaaaa;
	}

	div#breadcrumbs a:link {
		text-decoration: none;
	}
	
/* @end */

/* @group Content Area */

	div#content_area {
		padding: 10px 45px 35px 45px;
		height: 100%;
		font-size: 11px;
	}

/* @end */

/* @group Footer */

	div#footer {
		position: absolute;
		bottom: 0px;
		height: 35px;
		width: 100%;
		padding: 0px;
		margin: 0px !important;
		background: url(/images/layout/black_bar.png) repeat-x bottom;
		color: #aaaaaa;
		border: none;
		font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
		font-size: 11px;
	}
	
	div#footer p {
		margin: 12px 50px 0px 50px;
	}

	div#footer a:link, div#footer a:visited {
		text-decoration: none;
		color: #aaaaaa;
	}
	
	div#footer a:hover {
		text-decoration: underline;
	}	
	
/* @end */


/* @group Forms */

	.faux_legend {
		background: url(../images/layout/legend_bg.png) no-repeat 0 0px;
		margin-top: -28px;
		margin-left: -27px;
		padding: 0em;
		padding-left: 27px;
		padding-top: 11px;
		padding-bottom: 10px;
		width: 319px !important;
		height: 13px;
		font-weight: bold;
		font-size: 10px;
		color: #ffffff;
		text-transform: uppercase;
		text-shadow: #333333 0 0 5px;
		border: none;
	}

	legend {
		background: url(../images/layout/legend_bg.png) no-repeat 0 0px;
		margin-left: -27px;
		padding: 0em;
		padding-left: 27px;
		padding-top: 11px;
		padding-bottom: 10px;
		width: 319px !important;
		height: 13px;
		font-weight: bold;
		font-size: 10px;
		color: #ffffff;
		text-transform: uppercase;
		text-shadow: #333333 0 0 5px;
		border: none;
	}

	legend a:hover, .faux_legend a:hover {
		color: #ffffff !important;
	}
	
	.form_container {
		background-color: #efefef;
		border: 1px solid #dddddd;
		padding: 1em 1em 1em 1em;
		margin-top: 2.5em;
		margin-bottom: .5em;
		text-align: left;
	}	
	
	.three_column {
		width: 33%;
		text-align: left;
		padding: 0em;
		margin: 0em;
	}

	.faux_field {
		background-color: #fafafa;
		border: 1px solid #dddddd;
		width: 75%;
	}
	
	.button {
		color: #555555 !important;
		background-color: #cccccc;
		border: 1px solid #aaaaaa;
		background-image: url(../images/layout/button_bg.png);
		font-size: 9px;
	}

	.button a:link {
		color: #555555 !important;
		cursor: pointer;
	}
	
	.button a:visited {
		color: #555555 !important;
		cursor: pointer;
	}
	
	.button a:visited {
		color: #555555 !important;
		cursor: pointer;
	}
	
	.button:active {
		background-color: #999999;
		border: 1px solid #333333;
		background-image: url(../images/layout/button_bg.png);
	}
	
	fieldset.inline {
		margin-right: 1em;
		float: left;
	}
	
/* @end */

/* @group Tables */

	table {
		border: 1px solid #aaaaaa !important;
	}
	
	th {
		/*background: #7e7587 !important;*/
		font-size: .8em !important;
		padding: .5em;
	}
	
	td {
		font-size: .8em;
	}
	
	table.report {
	}
	
	table.report td {
		text-align: right;
		border:  1px solid #cccccc;
	}
	
	table.report td.metric, table.report th.metric {
		width: auto;
		text-align: left !important;
	}

	table.report td.metric {
		background-color: #e0e0e0;
	}
	
	table.report td.metric a:link, table.report td.metric a:visited {
		text-decoration: none;
	}

	table.report td.metric a:hover {
		text-decoration: underline;
	}
	
	table.report td.data, table.report th.data {
		width: 6%;
		text-align: right;
		padding-right: 1em;
	}
	
	table.report td.gained {
		background-color: #ccddcc;
	}
	
	table.report td.lost {
		background-color: #ddcccc;
	}
	
	table.report td.new {
		background-color: #fff5cc;
		color: #444444;
	}
	
	table.results th {
	}
	
	table.report th.transparent {
  		background: none;
  		border: 1px solid #eeeeee;
  		border-bottom: 1px solid #cccccc;
	}

	table.bifurcated_results th {
		vertical-align: middle;
		text-align: center !important;
		font-size: .75em;
		background-color: #888888;
		color: #ffffff;
		padding: .3em;
		margin: 0px;
		text-transform: uppercase;
	}

	table.standard tr:hover td, table.results tr:hover td {
		background-color: #cccccc !important;
	}

	table.results tr.summary {
		font-weight: bold;
	}
	
	table.results tr td {
		height: 3em;
		vertical-align: top;
	}
	
	table.standard td {
	}
	
	table.standard td a:link, table.standard td a:visited {
		text-decoration: none;
	}
	
	table tr.parent {
		border-top: 1px solid #cccccc;
	}

	table.drag_highlight {
		/*background-color: #aaaaaa !important;*/
		border: 3px solid #999999;
	}
	
	tr.drag_highlight td {
		/*background-color: #cccccc !important;*/
		border: none;
		border-bottom: 3px solid #999999;
	}
	
	table.with_form_fields td {
		padding: 1em;
		padding-bottom: 0em;
	}
	
/* @end */

/* @group Charts */

	.geochart {
		border: 1px solid #cccccc;
		width: 556px;
		float: left;
		margin-right: 1em;
	}
	

/* @end */


/* @group Components */

	ul.admin_menu_block {
		padding: 0em 4em .5em 0em;
		height: 15em;
	}
	
	ul.admin_menu_block li {
		margin: 0em 2em 2em 0em;
		border-right: 1px dotted #cccccc;
		float: left;
		width: 200px;
		font-size: 1em;
	}

	ul.admin_menu_block li ul li {
		border: none;
	}
	
	.admin_menu_block.two_column {
		width: 40%;
	}
	
	.admin_menu_block h2 {
		background: none;
		color: #333333;
		font-size: 1.1em;
		margin: 0em;
		padding: .5em 0em;
	}
	
	ul.admin_menu li {
		margin-bottom: 1em;
	}
	
	ul.admin_menu li ul li {
		margin-bottom: 0em;
		font-size: .9em;
	}

	div.jump_links {
		position: absolute;
		color: #aaaaaa;
		width: 91%;
		text-align: right;
		margin-top: 1em;
	}

	ul.client_menu_block li {
		float: left;
		width: 40%;
		margin: 0em 2em 2em 0em;
		padding-right: 3%;
		border-right: 1px dotted #cccccc;
		font-size: 1em;
	}
	
	ul.client_menu_block li ul.client_menu li {
		display: block;
		float: none;
		font-size: 1em;
		width: 100%;
		border: none;
	}
	
	.jump_links a:link, .jump_links a:visited {
		color: #aaaaaa;
		text-decoration: none;
	}
	
	.jump_links ul {
		display: inline;
		float: right;
	}
	
	.jump_links ul li {
		float: left;
		margin-left: 1em;
	}
	
	img.move_icon {
		margin-top: 4px;
		visibility: hidden;
	}
	
	tr:hover td img.move_icon {
		visibility: visible;
	}
		
/* @end */

/* @group Info Icons */

	div.note {
		color: #000000;
		margin-top: 1em;
		margin-bottom: 2em;
		background-color: #eeeeee;
		border: 1px solid #999999;
		font-size: 1em;
	}

	div.note span.notification {
		float: left;
		display: block;
		margin-top: -25px;
		margin-left: -15px;
		height: 45px;
		width: 40px;
	}

	span.notification.detail {
		background: url(../images/icons/notification_icon_sprite.png) no-repeat 0px 0px;
	}
	
	span.notification.info {
		background: url(../images/icons/notification_icon_sprite.png) no-repeat 0px -45px;
	}

	span.notification.reminder {
		background: url(../images/icons/notification_icon_sprite.png) no-repeat 0px -90px;
	}

	span.notification.error {
		background: url(../images/icons/notification_icon_sprite.png) no-repeat -45px 0px;
	}

	span.notification.alert {
		background: url(../images/icons/notification_icon_sprite.png) no-repeat -45px -45px;
	}

	span.notification.idea {
		background: url(../images/icons/notification_icon_sprite.png) no-repeat -45px -90px;
	}

	span.notification.clarification {
		background: url(../images/icons/notification_icon_sprite.png) no-repeat -90px 0px;
	}

	span.notification.question {
		background: url(../images/icons/notification_icon_sprite.png) no-repeat -90px -45px;
	}

	span.notification.confusion {
		background: url(../images/icons/notification_icon_sprite.png) no-repeat -90px -90px;
	}
	
	div.note p {
		margin-top: 1.5em;
		padding: 1em 1em .5em 1em;
	}
	
		

/* @end */

/* @group Reports */
	
	.negative {
		color: #793441;
		font-weight: bold;
	}

	.new {
		color: #827e38;
		font-weight: bold;
	}

	.positive {
		color: #6b7c35;
		font-weight: bold;
	}

/* @end */


/* @group Rails Overrides */

	div#flash_error {
		border: 1px solid #aaaaaa;
		color: #660000;
		padding: 1em;
		background-color: #eeeeee;
	}
	
	.errorExplanation h2 {
		display: none;
	}

	.errorExplanation ul li {
		margin-left: 1.5em;
		list-style-type: disc;
	}

/* @end */
	
